body {
  padding: 0;
  margin: 0 ;
  background-image: url('https://cdn.wallpapersafari.com/59/22/H63jGL.jpg');
  background-repeat: no-repeat;
}
.app {
  display: flex;
  justify-content: center;
}
.selects {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
  color: #fff;
}
.card{
  display: flex;
  justify-content: center;
}
.card img{
  height: 220px;
}
.selects1 {
  margin-left: 10px;
  color: black;
  background-color: #fff;
}
.title{
  font-weight: bold;
  color: #fff;
}

@media screen and (min-width:770px){ 
  .selects {
    width: 300px;
  }

}