body {
  padding: 0;
  margin: 0 ;
  background-image: url('https://wallpaperaccess.com/full/3279551.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
.app {
  display: flex;
  justify-content: center;
}
.selects {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
  color: #fff;
}
.card{
  display: flex;
  justify-content: center;
}
img{
  height: 220px;
}
select {
  margin-left: 10px;
}
label{
  font-weight: bold;
  color: #fff;
}

@media screen and (min-width:770px){ 
  .selects {
    width: 300px;
  }
}